.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  width: 100%;
}
.delete-btn {
  color: red;
  cursor: pointer;
}
.delete-btn:hover {
  color: rgba(236, 76, 76, 0.61);
}
.check-btn {
  color: greenyellow;
  cursor: pointer;
  padding-right: 10px;
}
.check-btn:hover {
  color: rgb(11, 182, 11);
}
